<!DOCTYPE html>
<html lang="ua">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
    <script src="/static/js/moment.min.js"></script>
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
            <title>{{ title }} - Flask</title>
        {% else %}
            <title>Flask</title>
            {% endif %}
    {% endblock %}
</head>
<body>

<div>
    <ul class="mainmenu"><b>
            <li class="namesite"></li>
        {% for i in menu %}
            <li><a href="{{ i.url }}">{{ i.title }}</a></li>
        {% endfor %}
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Увійти</a></li>
        {% else %}
            <li><a href="{{ url_for('logout') }}" title="Вийти з {{ current_user.username }}">Вийти</a></li>
        {% endif %}
            <li class="username">
        {% if current_user.is_anonymous %}
                <a href="{{ url_for('register') }}">Реєстрація</a>
        {% else %}
                <a title="{{ current_user.username }}" href="{{ url_for('user', username=current_user.username) }}">{{ current_user.nickname }}</a>
                <a href="{{ url_for('user', username=current_user.username) }}">
                <img src="{{ current_user.avatar(16) }}"></a></li>
        {% endif %}
    </b></ul>  
</div>
<nav id="sidebar">
            <div class="toggle-btn" onclick="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li>Ти думав тут щось буде?</li>
                <li><a href="{{ url_for('index') }}">Bruh...</a></li>
                <li><a href="{{ url_for('index') }}">тіпа посилання</a></li>
                <li><a href="{{ url_for('index') }}">тіпа посилання</a></li>
            </ul>
</nav>
<div class="content">
    {% block content %}
        <div class="container">
        <h1>Відновлення паролю</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>
            <p>{{ form.submit() }}</p>
        </form>
        </div>
    {% endblock %}
</div>
    <footer class="footer">© UA</footer>
    <script>
        function openMenu() {
        document.getElementById('sidebar').classList.toggle('active')
        }
    </script>
</body>
</html>

