{% extends "base.html" %}

{% block content %}
<div class="form-back">
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nickname.label }}<br>
            {{ form.nickname(size=32) }}<br>
            
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <p class="flash">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <p class="flash">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <p class="flash">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
                <p class="flash">{{ error }}</p>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}